<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      {{#each orgs}}
        <li class="list-group-item">
          <a href="/orgs/{{this._id}}">{{this.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>