<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form action="/orgs/new" method="post">
      <legend>New Organization</legend>
      <div class="form-group">
        <label for="org-name">Name</label>
        <input type="text" name="name" class="form-control" id="org-name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="org-type">Type</label>
        <input type="text" name="type" class="form-control" id="org-type" placeholder="Type">
      </div>
      <div class="form-group">
        <label for="org-url">Url</label>
        <input type="url" name="url" class="form-control" id="org-url" placeholder="https://www.google.com">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Organization</button>
      </div>
    </form>
  </div>
</div>